body {
		background: #FA8072;
}

.headline {
text-transform: uppercase; 
color: #3718e7;
}

input[type="text"] {
   border: 1px solid black;
   border-radius: 51 px;
}

input[type="submit"] {
   background: #3718e7;
   border: 25 px;
   border-radius: 10%;
}
